<link rel='preconnect' href='https://fonts.googleapis.com' />
<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
<link
  href='https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap'
  rel='stylesheet'
/>
<style>
  @import
  url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
  * {font-family: 'Rubik', sans-serif;} body { color: white; padding: 20px;
  border-radius: 20px; font-family: 'Rubik'; height: max-content, sans-serif; }
  .red { font-weight: bold; } .background { background-color: rgb(66, 74, 100);
  } a { color:rgb(169, 185, 240) } .logo { width: 247px; height: 96px; margin: 0
  auto; }
</style>

<body class='background'>
  {{! <img src='../assets/logo_for_mail.png' class='logo' alt='' /> }}
  {{!-- {{#if banned}} --}}
  <p class='red'>На модерацию поступила новая публикация</p>
  <p>
    Проверьте публикацию в
    <a href='http://wiki.credos.ru/mod-panel'>панели модератора</a>
  </p>

  {{!-- {{else}} --}}

</body>